/*Todo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    color: #5D6063;
    background-color: #EAEDF0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Em*/
em {
    font-style: normal;
}

/*Header*/
.speaker-form-header {
    background: #F6F7F8;
    padding: 15px;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    text-align: center;
    margin: 40px 0;
    padding: 50px;
    width: 80%;
}

.speaker-form-header h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.speaker-form {
    background-color: #F6F7F8;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 80%;
    padding: 50px;
    margin-bottom: 40px;
}

/*Inputs*/
.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
}

.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
    /* Elimina el brillo rojo por defecto en Firefox */
}

/*Textarea*/
.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    border: 1px solid #D6D9DC;
    min-height: 200px;
    margin-bottom: 10px;
    border-radius: 3px;
    padding: 7px;
    resize: none;
}

.form-row .instructions {
    color: #999999;
    font-size: 14px;
    margin-bottom: 30px;
}

/*Radiobuttons*/
.legacy-form-row {
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row legend {
    margin-bottom: 15px;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input[type='radio'] {
    margin-top: 2px;
}

.legacy-form-row .radio-label,
.legacy-form-row input[type='radio'] {
    float: left;
}

/*Select*/
.form-row select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    /* ¿¿Esto no va a funcionar en chrome o safari?? */
    -webkit-appearance: none;
}


.form-row .checkbox-label {
    margin-bottom: 0;
    background-color: blue;
}

/*Media Queries para Desktop*/
@media only screen and (min-width: 700px) {

    .speaker-form-header,
    .speaker-form {
        width: 600px;
        /*background-color: red;
        sacar background*/
    }

    .form-row {
        flex-direction: row;
        /*En el mobile teníamos valor "columna"*/
        align-items: flex-start;
        /*Por defecto, el valor de a"align-items" es stretch*/
        margin-bottom: 20px;
    }

    .form-row input[type="text"],
    .form-row input[type="email"],
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .legacy-form-row {
        margin-bottom: 10px;
    }

    .legacy-form-row legend {
        width: 120px;
        text-align: right;
        padding-right: 20px;
        float: left;
    }

    .form-row .instructions,
    .form-row .checkbox-label {
        margin-left: 120px;
        width: auto;
    }
}

/*Media Queries Para impresoras
@media print {
    body {
        background-color: white;
        color: black;
    }
}
*/